@model FindABand.ViewModels.SearchBandViewModel

@{
    ViewData["Title"] = "Search";
}
<h1></h1>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Search For Bands that play</label>
                <select asp-for="SearchQuery" class="genres"></select>
                <span asp-validation-for="SearchQuery" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <tbody>
        @foreach (var item in Model.Bands)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <a href="/Band/Details?id=@item.BandId">Go</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Genres.js"></script>
