@model IEnumerable<FindABand.Models.Invite>

@{
    ViewData["Title"] = "MyInvites";
}

<h1>My Invites</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
    if (item.BandSenderId != null)
    {
        <tr>
            <td>
                Invitation to Join @Html.DisplayFor(modelItem => item.BandSender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a href="/band/details/?id=@item.BandSenderId">See Details</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            if (item.BandSenderId == null)
            {
                <tr>
                    <td>
                        Invitation to Connect With @Html.DisplayFor(modelItem => item.UserSender.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        <a href="/userAccount/details/?id=@item.UserSenderId">See Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>