@model IEnumerable<FindABand.Models.Invite>

@{
    ViewData["Title"] = "List";
}

<h1>Your Invites
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BandRecipient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BandRecipient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
}
    </tbody>
</table>
