@model FindABand.ViewModels.TakeTestViewModel

@{
    ViewData["Title"] = "TakeTest";
}

<h1>Roadie Test</h1>

@*@foreach(var item in Model.Questions)
{
    Model.Answers = new List<TestAnswer>(Model.Questions.Count());
}*@

<div class="col-md-4">
    <form asp-action="TakeTest">

        @for (int i = 0; i < Model.Answers.Count(); i++)
        {
            <fieldset>
                <div class="form-group">
                    <label asp-for="@Model.Answers[i]" class="control-label">@Model.Questions[i].Question</label>
                    
                    <select asp-for="@Model.Answers[i]">
                        <option value="0">
                            Never
                        </option>
                        <option value=".25">
                            Rarely
                        </option>
                        <option value=".5">
                            Sometimes
                        </option>
                        <option value=".75">
                            Often
                        </option>
                        <option value="1">
                            Always
                        </option>
                    </select>
                    
                </div>
            </fieldset>
        }

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>