@model IEnumerable<FindABand.Models.Song>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Your Songs
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="/@Html.DisplayFor(modelItem => item.FileName)">@Html.DisplayFor(modelItem => item.FileName)</a>
                <audio controls>
                    <source src="/@Html.DisplayFor(modelItem => item.FileName)" type="audio/mpeg">
                </audio>
            </td>
            @*<td>

            </td>*@
        </tr>
}
    </tbody>
</table>
