@{
    ViewData["Title"] = "Home Page";
}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <select class="genres">
    </select>
    <select class="instruments"></select>
</div>
<script src="~/js/Genres.js">

</script>

<script src="~/js/Instruments.js"></script>